.project-box{
 justify-content: space-evenly;
}
.characterCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 25vh;
  animation: pop .5s;
}
@keyframes pop {
  0%{
    transform: scale(0);
  }
  50%{
    transform: scale(1.1)
  }
  100%{
    transform: scale(1);
  }
}
.characterCard:hover .characterName{
  transform: translateY(calc(-25vh/2));
  z-index: 4;
}
.characterCard:hover .characterQuote{
  transform: translateY(calc(25vh/2));
  z-index: 3;
}
.characterName{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  height: 25vh;
  width: 25vh;
  z-index: 2;
  background: rgb(253, 248, 248);  
  transition: transform 0.5s;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 3vh;
  border: 5px solid pink;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px 3px  lightcoral;
}
.characterQuote{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  row-gap: 30px;
  flex-direction: column;
  border-radius: 1vh;
  height: 25vh;
  width: 25vh;
  transition: transform 0.5s;
  background-color: rgb(238, 253, 253);
  border-radius: 3vh;
  border: 5px solid pink;
  overflow: scroll;
  box-shadow: inset 0px 0px 40px 10px white;
}

.quotes{
  display: flexbox;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  overflow: scroll;
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
  list-style: none;
  text-decoration: none;
  /* gap: 15px; */
  margin:auto;
}
.quoteText{
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* font-size: 30px; */
  font-size: 2vh;
  width: 100%;
  height: fit-content;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgb(194, 194, 194);
}

@media (max-width: 600px) {
  .project-box{
    flex-direction: column;
  }
  .characterQuote, .characterName, .characterCard {
    height: 20vh;
    width: 20vh;
  }
  .characterCard:hover .characterName{
    transform: translateX(calc(-20vw));
    z-index: 4;
  }
  .characterCard:hover .characterQuote{
    transform: translateX(calc(20vw));
    z-index: 3;
  }
  
  
}