.project-box{
 justify-content: space-evenly;
 margin-top: -200px;

}
.project-title{
  text-align: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.characterCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 25vh;
  animation: pop .5s ease-in;
}

@keyframes pop {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}
.characterCard:hover .characterName{
  transform: translateY(calc(-30vh/2));
  z-index: 4;
}
.characterCard:hover .characterQuote{
  transform: translateY(calc(30vh/2));
  z-index: 3;
}
.characterName{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: capitalize;
  height: 35vh;
  width: 35vh;
  z-index: 2;
  /* background: rgb(253, 248, 248);   */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 3vh;
  border: 3px solid rgba(255, 255, 255, 0.9);
  color: white;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: 2px 2px 3px  lightcoral;
}
.characterQuote{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  row-gap: 30px;
  flex-direction: column;
  border-radius: 1vh;
  height: 30vh;
  width: 30vh;
  transition: transform 0.5s;
  /* background-color: rgb(238, 253, 253); */
  overflow: scroll;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.quotes{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  overflow: scroll;
  width: 90%;
  height: 90%;
  /* border: 1px solid red; */
  list-style: none;
  text-decoration: none;
  /* gap: 15px; */
  margin:auto;
}
.quotes > h2{
  text-align: center;
}
.quotes > a{
  margin-bottom: 10px;
  border: 1px solid white;
  background-color: rgb(97, 171, 240);
  border-radius: 5px;
  width: 75px;
  padding: 5px;
  transition: all .4s ease-in-out;
}
.quotes > a:hover{
  background-color: rgb(169, 168, 168);
  border-radius: 50px;
}
.quoteText{
  /* margin-top: 20px;
  margin-bottom: 20px; */
  /* font-size: 30px; */
  font-size: 2vh;
  width: 100%;
  height: fit-content;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.tools{
  display: flex;
  position: fixed;
  font-size: 30px;
  gap: 5px;
  bottom: 5%;
}
@media (max-width: 600px) {
  .project-box{
    flex-direction: column;
    margin-top: -50px;
  }
  .quotes > h2{
    font-size: 22px;
  }

  .characterQuote, .characterName, .characterCard {
    height: 23vh;
    width: 23vh;
  }
  .characterCard:hover .characterName{
    transform: translateX(calc(-23vw));
    z-index: 4;
  }
  .characterCard:hover .characterQuote{
    transform: translateX(calc(23vw));
    z-index: 3;
  }
  .quotes{
    overflow: hidden;
  }
  .tools{
    font-size: 20px;
    position: relative;
    margin: 10px;
  }
  .project-title{
    height: 110px;
    align-items: flex-end;
  }
  .project-title > * {
    margin: 0;
  }
}